<!DOCTYPE html>
<html ng-app="meetupApp">
	<head>
		<title>MidwayMeetup | Where Do You Wanna Meet Up?</title>

		<link rel="stylesheet" type="text/css" href="css/meetup.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	</head>
	<body class="container" ng-controller="MeetupController as meetup">
        <form name="locationEntryForm"
                ng-submit="meetup.processFormEntry()">
            <fieldset class="form-group">
                <input type="text" id="locationInput" autofocus="true" class="form-control" placeholder="Where are you?" title="Location" ng-model="meetup.formEntry" />
                <input type="submit" class="btn-small btn-primary pull-right" value="Go!" />
            </fieldset>
        </form>
        <ol>
            <li ng-repeat="location in meetup.locations">
                {{location.formatted_address}}
            </li>
        </ol>
        <div id="map_canvas" >
            <gm-map gm-map-id="'simpleMap'" gm-bounds="meetup.bounds" gm-map-options="meetup.mapOptions.map" class="angular-google-map-container">
                <gm-markers gm-objects="meetup.locations"
                            gm-id="object.formatted_address"
                            gm-position="{lat: object.geometry.location.lat(), lng: object.geometry.location.lng()}"
                            gm-marker-options="">
                </gm-markers>
                <gm-markers gm-objects="meetup.mapCenter"
                            gm-id="CenterSpot"
                            gm-position="{lat: meetup.mapCenter.lat(), lng: meetup.mapCenter.lng()}"
                            gm-marker-options="meetup.mapCenterOptions"
                            gm-on-dragend="meetup.updateCenter(object, marker)">
                </gm-markers>
                <gm-markers gm-objects="meetup.searchResults"
                            gm-id="object.formatted_address"
                            gm-position="{lat: object.geometry.location.lat(), lng: object.geometry.location.lng()}"
                            gm-marker-options="meetup.searchResultOptions">
                </gm-markers>
            </gm-map>
        </div>
        <form name="searchForm"
              ng-submit="meetup.performSearch()">
            <fieldset class="form-group">
                <input type="text" id="searchInput" autofocus="true" class="form-control" placeholder="What do you want to do?" title="SearchTerm" ng-model="meetup.searchTerm"/>
                <input type="submit" class="btn-small btn-primary pull-right" value="Go!" />
            </fieldset>
        </form>
        <ol>
            <li ng-repeat="result in meetup.searchResults">
                {{result.name}}<br/>
                {{result.formatted_address}}
            </li>
        </ol>
        <div id="results"></div>












   <!-- <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h1>STORE STUFF</h1>
    <br/><br/>

        <div class="row" ng-repeat="product in meetup.products">
            <h3>
                {{product.name}}
                <em class="pull-right">{{product.price | currency}}</em>
            </h3>
            <section ng-init="tab = 1" ng-controller="PanelController as panel">
                <ul class="nav nav-pills">
                    <li ng-class="{active:panel.isSelected(1)}">
                        <a href ng-click="panel.selectTab(1)">Description</a>
                    </li>
                    <li ng-class="{active:panel.isSelected(2)}">
                        <a href ng-click="panel.selectTab(2)">Specifications</a>
                    </li>
                    <li ng-class="{active:panel.isSelected(3)}">
                        <a href ng-click="panel.selectTab(3)">Reviews</a>
                    </li>
                </ul>
                <div class="panel" ng-show="panel.isSelected(1)">
                    <h4>Description</h4>
                    <p>{{product.description}}</p>
                </div>
                <div class="panel" ng-show="panel.isSelected(2)">
                    <h4>Specifications</h4>
                    <p>Nada </p>
                </div>
                <div class="panel" ng-show="panel.isSelected(3)">
                    <h4>Reviews</h4>
                    <blockquote ng-repeat="review in product.reviews">
                        <b>Stars: {{review.stars}}</b>
                        {{review.body}}
                        <cite class="clearfix">by: {{review.author}}</cite>
                    </blockquote>
                    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                            ng-submit="reviewCtrl.addReview(product)">

                        <blockquote>
                            <strong>{{reviewCtrl.review.stars}} Stars</strong>
                            {{reviewCtrl.review.body}}
                            <cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
                        </blockquote>

                        <h4>Submit a Review</h4>
                        <fieldset class="form-group">
                            <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model="reviewCtrl.review.stars">
                                <option value="">Rate the Product</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                        </fieldset>
                    </form>
                </div>
            </section>

        </div>
    -->

		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="src-js/meetup.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxt6SwFT6CyZbFBC561_vf-CUEEq76Njk&libraries=places&sensor=false" ></script>
        <script type="text/javascript" src="lib/angular-gm.min.js"></script>
        <script type="text/javascript" src="lib/angularjs-google-places.min.js"></script>
	</body>
</html>